// product
@use '../general/colors';
@use '../general/responsive' as *;

.products {
	display: grid;
	grid-template-columns: min-content;
	grid-template-rows: auto;
	justify-content: center;
	gap: 1rem;
	margin-bottom: 124px;

	@media (min-width: $screen-small) {
		grid-template-columns: repeat(2, min-content);
	}

	@media (min-width: $screen-large) {
		grid-template-columns: repeat(3, min-content);
	}
	
	h2, p, a {
		margin: 0;
		text-decoration: none;
	}
}

.product-page {
	margin-bottom: $margin-bottom;
}

.product__card {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: .5rem;
	width: 200px;

	background-color: rgb(245, 245, 245);
	padding: 1rem;
	border-radius: 2rem;
	transition: transform .1s;

	&:hover {
		transform: scale(1.05);
	}

	img {
		width: 200px;
		height: 200px;
		object-fit: cover;
	}
}

.product-details {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	h2, p {
		margin: .5rem;
	}
}

.product--amount {
	background-color: colors.$primary-orange;
	padding: 1rem 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;

	button {
		background: none;
		border: none;
		cursor: pointer;
		color: white;
	}
}

.product__links {
	display: flex;
	justify-content: center;
	margin: 1rem;
	gap: .5rem;
}

.product__image {
	width: 400px;
	height: 400px;
	object-fit: cover;
}

.product__images-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: .4rem;
	
	&-image {
		cursor: pointer;
	}
}

.products__marquee {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
	overflow: hidden;
}

