// product

.product {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	h2, p {
		margin: .5rem;
	}
}

.product__links {
	display: flex;
	justify-content: center;
	margin: 1rem;
	gap: .5rem;
}