// product
@use '../general/colors';

.product {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	h2, p {
		margin: .5rem;
	}
}

.product--amount {
	background-color: colors.$primary-orange;
	padding: 1rem 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;

	button {
		background: none;
		border: none;
		cursor: pointer;
		color: white;
	}
}

.product__links {
	display: flex;
	justify-content: center;
	margin: 1rem;
	gap: .5rem;
}

