// shopping cart
@use '../general/colors';
@use '../general/responsive' as *;

.cart {
	transition: transform .1s;

	&:hover {
		transform: scale(1.05);
	}
}

.shoppingcart {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	background-color: white;
}

.shoppingcart__bg {
	position: absolute;
	position: fixed;
	z-index: 99;
	width: 100%;
	height: 100%;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.099);
	transform: translateX(100%);
	transition: transform 1ms ease-out;
}

.shoppingcart-items {
	position: relative;
	position: fixed;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	z-index: 100;
	inset: 0;
	padding: 4rem 2rem;
	background-color: colors.$primary-orange;

	transform: translateX(100%);
	transition: transform 350ms ease-out;
	margin-bottom: $margin-bottom;
	overflow: scroll;

	@media (min-width: 400px) {
		inset: 0 0 0 auto;
		max-width: 336px;
		width: 336px;
	}
}

.shoppingcart-items[data-visible=true],
.shoppingcart__bg[data-visible=true] {
	transform: translateX(0%);
}

.shoppingcart--close {
	position: absolute;
	top: 2rem;
	right: 2rem;
	z-index: 101;

	border: none;
	background: none;
	width: 1rem;
	height: 1rem;
	background: center url('../../public/kryss.svg') transparent no-repeat;
	cursor: pointer;
}

.cartitems__total-price {
	margin-top: 1rem;
	text-align: center;
}

.shoppingcart-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;

	color: white;
	padding: 1rem;
	margin-bottom: 1rem;
	background-color: colors.$primary-green;
	width: 100%;

	&:nth-child(odd) {
		background-color: colors.$primary-yellow;
	}

	p {
		margin-bottom: 0;
	}

	.product--amount {
		padding: .5rem;
	}

	@media (min-width: $screen-xsmall) {
		flex-direction: row;
		padding: 1rem;
	}
}

.shoppingcart-item__img-name-price {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: .5rem;
	width: 100%;

	@media (min-width: $screen-xsmall) {
		justify-content: flex-start;
		width: 60%;
	}

	p {
		font-size: small;
	}
}

.shoppingcart-item__img {
	img {
		border-radius: 50%;
		height: 50px;
		width: 50px;
		object-fit: cover;
	}
}

.shoppingcart-item__name {
	width: 60%;
}

.shoppingcart-item__price {
	color: colors.$primary-orange;
	width: 40%;
	text-align: right;
}

.shoppingcart--add-remove {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: .5rem;
	width: 40%;

	@media (min-width: $screen-xsmall) {
		justify-content: flex-end;
	}

	.shoppingcart--remove {
		border: none;
		background: none;
		background: center url('../../public/kryss-orange.svg') transparent no-repeat;
		width: 1rem;
		height: 1rem;
		cursor: pointer;
	}
}

.stocklevel-message {
	font-size: x-small;
	width: 100%;
	text-align: right;
}