// home
@use '../general/responsive' as *;

.home {
	position: relative;
	width: 100%;
	height: 100vh;
}

.home__logo {
	position: absolute;
	bottom: 0;
	transform: rotate(-20deg);
	width: 70%;
	margin: 15%;

	@media (min-width: $screen-large) {
		width: 50%;
	}
}